@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

:root {
    --bg-principal: rgba(127, 148, 138, 1);
    --bg-container: rgb(176, 196, 222, 1);
    --bg-codigo: #7e86dd; 
    --bg-codigo-title: #6371c5;
    --bg-title-cod: #001b2a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    color: var(--bg-title-cod);
    background-image: url("../img/fondo5.png");
}

/*-- Contenedor principal --*/
.container {
    width: 80%;
    height: 85rem;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}

/*@ El texto de encabezado */
.sms {
    height: 6.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: absolute;
    text-decoration: underline;
    color: var(--bg-title-cod);
}

/*@ Cuadros que forman el contenedor principal */
.izq, .derecha {
    height: 65%;
    margin-top: 9rem;
    position: relative;
}

/*@ Cuadro donde se visualizan los cambios dados */
.izq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

/*@ Conteiner donde se muestran las opciones*/
.derecha {
    width: 32%;
    border-radius: 10%;
    background: var(--bg-container);
    backdrop-filter: blur(10px);
    box-shadow: 19px -5px 14px -1px rgba(0,0,0,0.79);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.5rem;
}

/*@ Estilos por defecto del cuadro a mostrar edit*/
.cuadro {
    background: var(--bg-principal);
    width: 350px;
    height: 350px;
    margin: auto;
}

/*++ La parte de la derecha ++*/
.contenido { margin: 1rem 3rem; }

.color {
    display: flex;
    justify-content: center;
    font-size: 130%;
}

.color h2 { font-size: 90%; }

.color input {
   background: var(--bg-container);
   border: 0;   
   margin-top: 1.5rem;
   margin-left: 1rem;
}

/*@ Todos las barras de rangos*/
.content {
    font-size: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content input{
    width: 100%;
    height: 10px;
    border-radius: 50px;
    margin-top: -1rem;
}

/*@ Donde se mira el código generado css*/
.codigo {
    background: var(--bg-codigo-title);
    width: 85%;
    height: 20%;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}

.codigo h3 {
    background: var(--bg-codigo);
    text-align: center;
    font-size: 1.5rem;
    opacity: 100%;
    color: var(--bg-title-cod);
}

.codigo .btn {
    color: var(--bg-title-cod);
    text-decoration: none;
    position: absolute;
    width: 85%;
    height: 4%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:hover {
    background: var(--bg-codigo);
    border-radius: 0px 0px 20px 20px;
}

.btn:active { font-size: 1.5rem; }

.codigo p {
    font-size: 1rem;
    text-align: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}